:root{
    --title-color: #5f6368;
    --subtitle-color: #80868b;
    --google-blue: #507fef;
    --google-red: #e31738;
    --google-yellow: #f6c329;
    --google-green: #23bf5a;
    --section-color: #f1f3f4;
    --hover-color: #1a8fed;
    --hover-background: #e8f0fe;
    --hover-background-secondary: #f9f9fa;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*Mobile First */

header{
    display: grid;
    width: 100%;
    height: 75px;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 1fr;
    /* margin:10px 0 15px 0; */
    align-items: center;
    /* border-bottom: solid 1px var(--title-color); */
    background: var(--section-color);
}

header h1{
    font-size: 2.5rem;
    grid-column: 2 / 3;
    color: var(--google-blue);
    text-align: center;
}

header img{
    grid-column: 0 / 1;
    width: 35px;
    margin: 0 auto;
    cursor: pointer;
}

nav ul{
    grid-column: 3 / 4;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 0 15px 0 15px;
}

li a{
    text-decoration: none;
    color: var(--title-color);
}

li a img{
    width: 25px;
}

/* Main section */

main{
    text-align: center;
    /* height: 500px; */
    margin-top: 20px;
    padding: 15px 15px 0 15px;
}

main ol{
    padding: 25px;
}

main h2{
    font-size: 2.5rem;
    color: var(--google-green);
}

main ol{
    font-size: 2.2rem;
}

main ol li a{
    font-size: 1.5rem;
    /* color; */
}

.carousel-container{
    margin: 10px 0 10px 0;
    position: relative;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

.images-carousel{
    display: flex;
    overflow-x: hidden;
    opacity: 80%;
    position: absolute;  
}

#images-carousel-1{
    right: -154px;
    animation: carousel 20s linear infinite;
} 

#images-carousel-2{
    top: 160px;
    right: 0;
    animation: carousel-2 20s linear infinite;
}

#images-carousel-3{
    top: 320px;
    right: -360px;
    animation: carousel 20s linear infinite;
}

@keyframes carousel{
    0%, 100%{
        right: -154px;
    }
    50%{
        right: 0px;
    }
}

@keyframes carousel-2{
    0%, 100%{
        right: 0px;
    }
    50%{
        right: -160px;
    }
}


.random-image{
    margin-left: 5px;
    width: 150px;
    height: 150px;
}


/* LOADER */


.loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    z-index: 3;
    overflow-x: hidden;

    animation: loader 1.5s linear forwards;
}

.loader div{
    /* background: white; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1){
    animation-delay: 0.2s;
    background: var(--google-blue);
}

.loader div:nth-child(2){
    animation-delay: 0.4s;
    background: var(--google-red);
}

.loader div:nth-child(3){
    animation-delay: 0.6s;
    background: var(--google-yellow);
}

.loader div:nth-child(4){
    animation-delay: 0.8s;
    background: var(--google-green);
}

@keyframes loader{
    0%{
        opacity: 1;
        visibility: visible;
    }   
    95%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scaling{
    0%, 100%{
        transform: scale(1)
    }
    50%{
        transform: scale(.2)
    }
}




/* side-bar */

.side-bar--container   {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 5;

    display: grid;
    place-items: start;

    overflow-y: scroll;
}

.side-bar{
    width: 240px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 5;

    display: grid;
    place-items: start;

    overflow-y: scroll;
}

.side-bar__content{
    display: flex;
    flex-direction: column;
    justify-items: start;
    background: white;
    width: 240px;
    height: 100%;
    
}

.hidden{
    display: none;
}

.visible{
    display: grid;
}





/* PERFIL */

.side-bar__content--profile{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 15px;
    background: var(--section-color);
}

.side-bar__content--profile img{
    width: 40px;
    height: 40px;
}

.side-bar__content--google-photos, .side-bar__content--library, .side-bar__content--others, .side-bar__content--storage{
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: center;
    /* padding: 0 25px 0 25px; */
    /* background: var(--section-color); */
}


/* PRIMERA SECCION GOOGLE PHOTOS */

.google-photos--logo{
    display: flex;
    margin: 15px 0 15px 0;
    padding: 0 25px 0 25px;
}

.google-photos--logo img{
    width: 70px;
    margin-right: 8px;
}

.google-photos--logo p{
    font-size: 2rem;
    color: var(--title-color);
}

/* LINKS DIRECTOS */

.google-photos--link-page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px 0 25px;
}

.google-photos--link-page p{
    font-size: 1.5rem;
    align-self: center;
    color: var(--title-color);
    font-weight: 500;
}

.google-photos--link-page img{
    height: 15px;
    margin-right: 25px;
    margin-left: 10px;
}

.hover-section{
    background: var(--hover-background);
    width: 90%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* SMART APP */
.hover-section a{
    text-decoration: none;
}

/* CONTINUATION */

.hover-section p, .hover-section img{
    color: var(--hover-color);
}


.google-photos--link-page:hover p{
    color: var(--hover-color);
}

.google-photos--link-page:hover{
    background: var(--hover-background-secondary);
    width: 90%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

/* BIBLIOTECA */

.side-bar__content--library{
    height: 250px;
}

.side-bar__content--library h3{
    font-size: 1.2rem;
    color: var(--subtitle-color);
    padding-left: 10px;
    padding: 0 25px 0 25px;
    margin-top: 10px;
}


/* OTROS */

.side-bar__content--others{
    margin-top: 10px;
    height: 175px;
}

hr{
    width: 85%;
    margin: 0 auto;
}

/* Almacenamiento */

.side-bar__content--storage{
    height: 125px;
}

.storage-bar__base{
    margin-left: 75px;
    height: 5px;
    width: 112.5px;
    background-color: var(--section-color);
    position: relative;
}

.storage-bar__load{
    align-self: flex-start;
    margin-left: 75px;
    height: 5px;
    width: 65px;
    background: var(--google-blue);
    position: absolute;
    bottom: -20px;
}
.storage-bar__text{
    display: flex;
    width: 60%;
    justify-content: end;
    align-items: flex-start;
    font-size: 1.2rem;
    color: var(--title-color);
    /* padding: 0 35px 0 40px; */
    margin-top: 10px;
}
.storage-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
}

.side-bar__content-footer{
    display: flex;
    justify-content: center;
}
.side-bar__content-footer a{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--title-color);
    margin: 15px 20px 0 5px;
}

/* FOOTER */

footer{
    height: 75px;
    background: var(--section-color);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer a img{
    height: 30px;
}

footer a p{
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--title-color);
}

-webkit-scrollbar-track{
    margin-right: 25px;
}