:root{
    --title-color: #5f6368;
    --google-blue: #507fef;
    --google-red: #e31738;
    --google-yellow: #f6c329;
    --google-green: #23bf5a;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*Mobile First */

header{
    display: grid;
    width: 100%;
    height: 75px;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 1fr;
    /* margin:10px 0 15px 0; */
    align-items: center;
    border-bottom: solid 1px var(--title-color);
}

header h1{
    font-size: 2.5rem;
    grid-column: 2 / 3;
    color: var(--title-color);
    text-align: center;
}

header img{
    grid-column: 0 / 1;
    width: 35px;
    margin: 0 auto;
    cursor: pointer;
}

nav ul{
    grid-column: 3 / 4;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 0 15px 0 15px;
}

li a{
    text-decoration: none;
    color: var(--title-color);
}

li a img{
    width: 25px;
}

/* Main section */

main{
    text-align: center;
    height: 100%;
    margin-top: 20px;
}

main ol{
    padding: 25px;
}

main h2{
    font-size: 2.5rem;
}

main ol{
    font-size: 2.2rem;
}

main ol li a{
    font-size: 1.5rem;
    /* color; */
}

.carousel-container{
    margin: 10px 0 10px 0;
    position: relative;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

.images-carousel{
    display: flex;
    overflow-x: hidden;
    opacity: 80%;
    position: absolute;  
}

#images-carousel-1{
    right: -154px;
    animation: carousel 20s linear infinite;
} 

#images-carousel-2{
    top: 160px;
    right: 0;
    animation: carousel-2 20s linear infinite;
}

#images-carousel-3{
    top: 320px;
    right: -360px;
    animation: carousel 20s linear infinite;
}

@keyframes carousel{
    0%, 100%{
        right: -154px;
    }
    50%{
        right: 0px;
    }
}

@keyframes carousel-2{
    0%, 100%{
        right: 0px;
    }
    50%{
        right: -160px;
    }
}


.random-image{
    margin-left: 5px;
    width: 150px;
    height: 150px;
}


/* LOADER */


.loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    z-index: 3;
    overflow-x: hidden;

    animation: loader 1.5s linear forwards;
}

.loader div{
    /* background: white; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1){
    animation-delay: 0.2s;
    background: var(--google-blue);
}

.loader div:nth-child(2){
    animation-delay: 0.4s;
    background: var(--google-red);
}

.loader div:nth-child(3){
    animation-delay: 0.6s;
    background: var(--google-yellow);
}

.loader div:nth-child(4){
    animation-delay: 0.8s;
    background: var(--google-green);
}

@keyframes loader{
    0%{
        opacity: 1;
        visibility: visible;
    }   
    95%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scaling{
    0%, 100%{
        transform: scale(1)
    }
    50%{
        transform: scale(.2)
    }
}






